*{
    padding:0;
    margin:0;
}
.first{
    height:72px;
    width:100%;
    box-shadow: 0 4px 8px 0 rgba(7, 17, 27, 0.1);/*慕课网复制给顶部加下边框及颜色，目前不懂*/
}
.first-one{
    height:72px;
    width:140px;
    margin:0px 10px;
    display:inline;
    float:left;
}
.first-two{
    
    height:72px;
    width:400px;
    margin:0px 10px;
    float:left;
}
.first-two-list{
    display:inline;
    font-size:14px;
    font-family:"Microsoft YaHei";
    line-height:72px;
    color:#4D555d;
    padding:0px 10px;   
}
.first-three{
    height:72px;
    width:324px;
    line-height:72px;
    float:left;    
}
.first-three-frame{
    width:284px;
    height:40px;
    background-color:#E9E9E9;
    border-radius:5px 5px 5px 5px;/*设置div四个角为原型*/
    margin:16px 0px;
}
.first-three-text{
    width:260px;
    height:24px;
    font-size:14px;
    color:#A6A6A6;
    background-color:rgba(255, 255, 255,0.05);
    position:relative;
    bottom:17px;
    left:5px;
}
.first-three-python{
    font-size:14px;
    font-family:"PingFang SC";
    color:#545C63;
    position:relative;
    bottom:74px;
    left:180px;
}
.first-four-magnifier{
    width:20px;
    height:20px;
    position:relative;
    bottom:140px;
    left:264px;
}

.first-four{
    height:72px;
    white：377px;
    margin:0px 10px;
    float:right;
}
.first-four-list{
    font-size:14px;
    font-family:"Microsoft YaHei";
    color:#71777d;
    padding:0px 15px;
    line-height:72px;
    display:inline;
}


.second{
    width:100%;
    
    
    
}
.second-one{
    width:100%;
    margin:0px;
    padding:104px 0px;
}
.second-one-frame{
    width:100%;
    
}

.second-one-frame-1{
    width:216px;
    height:365px;
    margin:0px;
    padding-top:17px;
    border-radius:5px 0px 0px 5px;
    background-color:#2B333D;
    position:relative;
    left:17%;
}
.second-one-frame-2{
    width:180px;
    height:50px;
    margin-left:28px;
}
.second-one-frame-3{
    font-family:"PingFang SC","微软雅黑";
    font-size:15px;
    line-height:50px;
    color: rgba(255, 255, 255, 0.6);
}
.second-one-frame-4{
    width: 0px;
    height: 0px;
    border-top: 5px solid transparent;/*transparent实验作用应该是连接未完成部分，这样就可以形成三角的尖头部位*/
    border-left: 5px solid rgba(255, 255, 255, 0.6);
    border-bottom: 5px solid transparent;
    position:relative;
    bottom:29px;
    left:175px;
}/*制作小三角图标*/